[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
build = "*"
homeassistant = ">=2025.2.0"
homeassistant-historical-sensor = {editable = true, path = "."}
ipdb = "*"
ipython = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
sqlalchemy = "*"
twine = "*"

[requires]
python_version = "3"
