[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
# homeassistant-historical-sensor = {editable = true, path = "."}
black = "*"
build = "*"
homeassistant = ">=2024.1.0"
ipdb = "*"
ipython = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
sqlalchemy = "*"
twine = "*"

[requires]
python_version = "3"
