[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeassistant-historical-sensor = {editable = true, path = "."}

[dev-packages]
sqlalchemy = "*"
ipdb = "*"
ipython = "*"
pre-commit = "*"
homeassistant = "*"

[requires]
python_version = "3"
